[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
[packages]

adium-theme-ubuntu = "==0.3.4"
attrs = "==15.2.0"
beautifulsoup4 = "==4.4.1"
certifi = "==2017.4.17"
chardet = "==3.0.4"
cryptography = "==1.2.3"
cython = "==0.23.4"
deluge = "==1.3.12"
dnspython = "==1.12.0"
enum34 = "==1.1.2"
"f.lux-indicator-applet" = "==1.1.11rc0"
formencode = "==1.3.0"
html5lib = "==0.999"
httpagentparser = "==1.7.8"
idna = "==2.5"
inflection = "==0.3.1"
ipaddress = "==1.0.16"
lxml = "==3.5.0"
more-itertools = "==3.2.0"
numpy = "==1.13.0"
pam = "==0.4.2"
pandas = "==0.20.2"
paste = "==1.7.5.1"
pastedeploy = "==1.5.2"
pastescript = "==1.7.5"
pexpect = "==4.0.1"
ptyprocess = "==0.5"
pyasn1 = "==0.1.9"
pyasn1-modules = "==0.0.7"
pygame = "===1.9.1release"
pygobject = "==3.20.0"
pylibmc = "==1.5.2"
pyopenssl = "==0.15.1"
pyserial = "==3.0.1"
python-dateutil = "==2.6.0"
python-libtorrent = "==1.0.11"
python-openid = "==2.2.5"
python-snappy = "==0.5.1"
pytz = "==2017.2"
pyxdg = "==0.25"
quandl = "==3.2.0"
raven = "==6.1.0"


