{% extends "personal/base.html" %}

{%load static%}

{%block content%}

<div class="container" style="background-image: url({% static 'img/home-bg.jpg'%})>
	    <div class="row" >
  <div class="col-lg-8 col-md-10 mx-auto">
    <div class="text-center img-circle ">
      <img src="{% static "blog/personal.jpg" %}" class="img-fluid img-circle rounded-circle" alt="My image" style="max-width:35%;"/>
    </div>


    <p>
      I am a Full Stack Developer based out of Vancouver.
      <br> <br>
      I have dabbled in coding for a while, using R for stats assignments in University, and python to solve Project Euler problems. Problem 1 was doable with Excel, but I needed something more powerful for everything else.
      <br><br>
      Doing some Udacity courses introduced me to CS, and I was hooked, and it was there that I developed a deep appreciation for algorithms and data structures. I really enjoy writing efficient code that scales well.
      <br><br>
      I trained a machine learning model to do sentiment analysis on text, and used to it to analyze tweets, benchmarking using Google Cloud's NL API. I also have open pull requests to <a href="https://github.com/reddit/reddit/pull/1837">Reddit</a>, and <a href="https://github.com/stympy/faker/pull/992"> Faker</a>, a fake data generator.
      <br><br>
      Please get in touch if you'd like to talk about any of my work, or if you have an interesting problem I can help solve.
    </p>
</div>
</div>

<hr>


{%endblock%}
