{% extends "personal/base.html" %}

{% load static%}
{%block content%}
<div class="container" style="background-image: url({% static 'img/home-bg.jpg'%})>
	    <div class="row" >
  <div class="col-lg-8 col-md-10 mx-auto">
   

    <div class="post-preview">
      <a href="https://github.com/deejes/Machine-Learning-Sentiment-analysis">
        <h2 "class="post-title">
          Sentiment Analysis - Machine Learning
        </h2>
        <p class="post-subtitle">
          Using Python, Scikitlearn and Nltk, I created a machine learning model that infers sentiment from text. I used it to analyze twitter data, and benchmarked against Google's Cloud NL API. I used MongoDB as my database. 
        </p>
      </a>

    </div>
    
    <hr>



    <div class="post-preview">
      <a href="https://github.com/deejes/Machine-Learning-Sentiment-analysis">
        <h2 class="post-title">
          Bytes Me
        </h2>
        <h7 class="post-subtitle">
          A group project I did as the project manager, we made a Ebay like website using Ruby on Rails, Postgres, and Bootstrap.    
        </h7>
      </a>
      
    </div>

    

    <div class="post-preview">
      <a href="https://github.com/deejes/portfolio/blob/master/poker_solver.py">
        <h2 class="post-title">
          Poker Solver
        </h2>
        <h7 class="post-subtitle">
          A script that takes a 7 card poker hand with up to two jokers, and returns the best possible hand.
        </h7>
      </a>
      
    </div>

    <hr>


 
  </div>
</div>
</div>

<hr>

{%endblock%}
